.page-about{

  .about{

    &__title{
      margin-bottom: 1.2rem;
      font-family: Anticva;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

      @include tablet{
        font-size: 1rem;
      }
    }

    &__description{
      font-family: Manrope;
      font-weight: 400;
      font-size: .8rem;
      line-height: 130%;
      text-align: center;
      color: #000000;
    }

    &__list{
      margin-top: 2.4rem;
      height: 10rem;

      @include mobile{
        margin-top: 1.2rem;
        height: initial;
        gap: .4rem .4rem;
      }
    }

    &__number{
      grid-column: span 2;
      border-radius: .8rem;
      background-color: #3D4A36;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: .25rem 0;

      @include tablet{
        grid-column: span 4;
      }

      @include mobile{
        grid-column: span 2;
        padding: 1.2rem 0;
      }

      &__count{
        position: relative;
        font-family: Manrope;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
        color: #FFFFFF;

        @include mobile{
          font-size: 2.4rem;
        }

        &::after{
          content: '+';
          position: absolute;
          top: -.1rem;
          right: -.4rem;
          font-family: Manrope;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 150%;
          color: #FFFFFF;
        }
      }

      &__description{
        font-family: Manrope;
        font-weight: 700;
        font-size: .8rem;
        line-height: 150%;
        color: #FFFFFF;
      }
    }

    &__information{
      grid-column: span 6;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F07D2C;
      border-radius: .8rem;

      @include tablet{
        display: none;
      }

      @include mobile{
        display: flex;
        grid-column: span 2;
      }

      &__description{
        max-width: 23.5rem;
        font-family: Anticva;
        font-weight: 400;
        font-size: 1rem;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;

        @include mobile{
          font-size: .6rem;
          padding: 0 .2rem;
        }
      }
    }
  }

  .profitable{
    display: flex;
    flex-direction: column;
    gap: 2.4rem 0;

    &__title{
      font-family: Anticva;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

      @include tablet{
        text-align: left;
        font-size: 1rem;
      }
    }

    &__list {
      gap: 1.2rem 1.2rem;

      @include mobile{
        gap: .8rem .8rem;
      }
    }

    &__item{
      grid-column: span 4;
      padding: 1.2rem;
      border-radius: .8rem;
      background-color: #EFEFEF;
      height: 100%;

      @include tablet{
        grid-column: 1 / -1;
      }

      &__image{
        margin-bottom: .8rem;
        width: 2.2rem;
        height: 2.2rem;
        object-fit: cover;
        object-position: center;

        @include mobile{
          margin-bottom: 2.25rem;
          width: 3rem;
          height: 3rem;
        }
      }

      &__title{
        margin-bottom: .4rem;
        font-family: Manrope;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 130%;
        color: #000000;

        @include mobile {
          font-size: .8rem;
        }
      }

      &__description{
        font-family: Manrope;
        font-weight: 300;
        font-size: .8rem;
        line-height: 130%;
        color: #000000;

        @include mobile{
          font-size: .7rem;
        }
      }
    }
  }
}
