.page-catalog{

  .form-catalog{

    @include mobile{
      display: none;
    }
  }

  .hero{
    display: none;

    @include mobile{
      display: flex;
    }
  }

  .catalog{

    h1{
      margin-bottom: 1.2rem;
      font-family: Anticva;
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
      color: #000000;

      @include tablet{
        text-align: center;
        font-size: 1rem;
      }
    }

    &__category{
      display: flex;
      align-items: center;
      gap: .8rem .8rem;
      flex-wrap: wrap;

      @include tablet{
        justify-content: center;
      }

      @include mobile{
        gap: .4rem .4rem;
        justify-content: flex-start;
      }

      &__button{
        padding: 0 1.2rem;
        height: 2.1rem;
        display: flex;
        align-items: center;
        border: 1px solid #3D4A36;
        border-radius: 100px;
        font-family: Manrope;
        font-weight: 600;
        font-size: .8rem;
        line-height: 100%;
        color: #000000;
        transition: .5s;

        @include mobile{
          padding: 0 .4rem;
          height: 1.8rem;
          font-size: .55rem;
        }

        &.active{
          background-color: #3D4A36;
          color: #fff;
        }
      }
    }

    &__inner{
      margin-top: 1.2rem;

      @include tablet{
        margin-top: 2.4rem;
      }
    }

    &__filters{
      grid-column: 1 / 4;
      padding: 1.6rem 1.2rem;
      background-color: #F6F6F6;
      border-radius: 1.2rem;
      height: fit-content;

      @include tablet{
        display: none;
      }

      &__title{
        margin-bottom: 1.2rem;
        font-family: Manrope;
        font-weight: 400;
        font-size: .8rem;
        line-height: 100%;
        color: #959595;
      }

      &__list{
        display: flex;
        flex-direction: column;
        gap: .8rem 0;
      }

      &__individual{
        width: fit-content;
        font-family: Manrope;
        font-weight: 700;
        font-size: .9rem;
        line-height: 130%;
        color: #000000;
        border: none;
        padding: 0;
        text-align: start;
        transition: .5s;

        &:hover{
          opacity: .5;
        }
      }

      &__category{
        display: flex;
        flex-direction: column;

        &.active{

          .catalog__filters__category__title{

            svg{
              transform: rotateX(180deg);
            }
          }
        }

        &__list{
          display: flex;
          flex-direction: column;
          gap: .8rem 0;
          max-height: 0;
          overflow: hidden;
          transition: 0.5s;
        }

        &__title{
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: Manrope;
          font-weight: 700;
          font-size: .9rem;
          line-height: 130%;
          color: #000000;
          transition: .5s;

          &:hover{
            opacity: .5;
          }

          svg{
            width: .6rem;
            height: .3rem;
            transition: .5s;
          }
        }

        &__item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: none;
          padding: 0;

          &:first-child{
            margin-top: .8rem;
          }

          &.is-zero{
            display: none;
          }

          &.active{

            .catalog__filters__category__item__icon{
              background-color: #3D4A36;
              border: 1px solid #3D4A36;
            }

            .catalog__filters__category__item__count{
              background-color: #3D4A36;
              color: #D1D7CE;
            }
          }

          &__inner{
            display: flex;
            align-items: center;
            gap: 0 .4rem;
          }

          &__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(1rem - 1px);
            height: calc(1rem - 1px);
            background-color: #FFFFFF;
            border: 1px solid #C2C2C2;
            border-radius: .2rem;
            transition: .5s;
          }

          &__title{
            font-family: Manrope;
            font-weight: 500;
            font-size: .7rem;
            line-height: 130%;
            color: #000000;
          }

          &__count{
            min-width: 1.35rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background-color: #D1D7CE;
            padding: 0 .35rem;
            font-family: Manrope;
            font-weight: 500;
            font-size: .6rem;
            line-height: 150%;
            color: #3D4A36;
            transition: .5s;
          }
        }
      }
    }

    &__list{
      grid-column: 4 / -1;
      grid-template-columns: repeat(9, 1fr);
      gap: 1.2rem 1.2rem;

      @include tablet{
        grid-column: 1 / -1;
        grid-template-columns: repeat(12, 1fr);
      }

      @include mobile{
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.menu{
  background-color: #3D4A36;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
  max-height: 19.2rem;
  min-height: 19.2rem;

  @include tablet{
    max-height: initial;
    min-height: initial;
  }

  &__content{
    grid-column: 1 / 7;
    padding: 2.4rem 0 2.4rem 2.4rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem 0;

    @include tablet{
      grid-column: 1 / -1;
      padding: 2.4rem;
      align-items: center;
    }

    @include mobile{
      padding: 1.2rem;
    }

    &__title{
      margin-bottom: 1.2rem;
      font-family: Anticva;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 150%;
      color: #FFFFFF;

      @include tablet{
        text-align: center;
      }

      @include mobile{
        margin-bottom: .8rem;
        font-size: 1rem;
      }
    }

    &__description{
      font-family: Manrope;
      font-weight: 400;
      font-size: .8rem;
      line-height: 150%;
      color: #FFFFFF;

      @include tablet{
        text-align: center;
      }

      @include mobile{
        font-size: .7rem;
      }
    }

    &__button{
      width: fit-content;
      background-color: #FFFFFF;
      border-radius: 100px;
      padding: 0 1.2rem;
      height: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Manrope;
      font-weight: 500;
      font-size: .8rem;
      line-height: 100%;
      color: #3D4A36;
      box-sizing: border-box;
      transition: .5s;

      @include mobile{
        width: 100%;
        height: 1.8rem;
      }

      &:hover{
        background-color: #F07D2C;
        color: #FFFFFF;
      }
    }
  }

  &__image{
    grid-column: span 3;
    width: 100%;
    height: 20.4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0 0 1.2rem 1.2rem;

    @include tablet{
      display: none;
    }
  }
}

.questions{

  @include tablet{
    display: none;
  }

  &__title{
    grid-column: 1 / -1;
    margin-bottom: 2.4rem;
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #000000;
  }

  &__list{
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem 0;
  }

  &__item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.7rem;
    border-radius: 100px;
    background-color: #EAEAEA;
    box-shadow: 0 0 1px 1px #00000026;

    &:hover{

      .questions__item__icon{
        background-color: #3D4A36;
      }

      .questions__item__arrow{

        path{
          stroke: #3D4A36;
        }
      }
    }

    &.active{

      .questions__item__icon{
        background-color: #3D4A36;
      }

      .questions__item__arrow{

        path{
          stroke: #3D4A36;
        }
      }
    }

    &__inner{
      display: flex;
      align-items: center;
      gap: 0 .8rem;
    }

    &__icon{
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 100%;
      background-color: #D1D7CE;
      flex-shrink: 0;
      transition: .5s;
    }

    &__title{
      font-family: Anticva;
      font-weight: 400;
      font-size: .8rem;
      line-height: 150%;
      color: #000000;
    }

    &__arrow{
      width: .4rem;
      height: .8rem;

      path{
        transition: .5s;
      }
    }
  }

  &__content{
    grid-column: 7 / -1;
    position: relative;
    background-color: #3D4A36;
    box-shadow: 0 0 4px 1px #00000026;
    border-radius: .8rem;
    min-height: 23.6rem;

    &__item{
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;

      &.active{
        opacity: 1;
        visibility: visible;
      }

      &__title{
        margin-bottom: .8rem;
        font-family: Manrope;
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        color: #FFFFFF;
      }

      &__description{
        font-family: Manrope;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #FFFFFF;
      }

      &__image{
        width: 100%;
        height: 12rem;
        border-radius: 1.2rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
