.hero{
  height: 17.4rem;
  overflow: hidden;
  border-radius: .8rem;

  @include tablet{
    height: 12.3rem;
  }

  @include mobile{
    height: 15.2rem;
  }

  .swiper{
    width: 100%;
    height: 100%;
  }

  &__item{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet{
      padding: 1.2rem 1.2rem 2.8rem 1.2rem;
    }

    &__title{
      max-width: 45.5rem;
      font-family: Anticva;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      color: #FFFFFF;

      @include tablet{
        font-size: 1rem;
        max-width: 23.4rem;
      }
    }

    &__buttons{
      display: flex;
      align-items: center;
      gap: 0 1.2rem;

      @include mobile{
        flex-direction: column;
        gap: .4rem 0;
      }

      &__item{
        padding: 0 1.2rem;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font-family: Manrope;
        font-weight: 500;
        font-size: .8rem;
        line-height: 100%;
        transition: .5s;

        @include tablet{
          padding: 0 .8rem;
          height: 1.8rem;
          font-size: .7rem;
        }

        @include mobile{
          width: 100%;
        }

        &._green{
          background-color: #3D4A36;
          color: #FFFFFF;

          &:hover{
            background-color: #F07D2C;
          }
        }

        &._white{
          background-color: #FFFFFF;
          color: #3D4A36;

          &:hover{
            background-color: #F07D2C;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .swiper-pagination{
    position: absolute;
    bottom: 1.2rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 .8rem;

    &-bullet{
      width: .35rem;
      height: .35rem;
      border-radius: 100%;
      border: 1px solid #3D4A36;
      background-color: #FFFFFF;
      margin: 0 !important;
      flex-shrink: 0;
      opacity: 1 !important;
      transition: .5s;

      &-active{
        background-color: #3D4A36 !important;
      }
    }
  }
}
.main{

  @include tablet{
    overflow-x: hidden;
  }
}


.page-home{

  .advantages{

    &__title{
      font-family: Anticva;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      max-width: 95%;

      @include tablet{
        font-size: 1rem;
      }

      @include mobile{
        font-size: .8rem;
      }
    }

    &__inner{
      display: flex;
      align-items: flex-start;
      gap: 0 2.8rem;

      @media (min-width: 1024px) {

        .advantages__navigation{
          display: none;
        }
      }

      @include mobile{
        flex-direction: column;
        gap: 1.2rem 0;
      }

      .advantages__navigation{
        align-self: end;
      }
    }

    &__list{
      margin-top: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 1rem;

      @include mobile{
        margin-top: 1.2rem;
      }

      .swiper{
        width: 100%;
        overflow: initial;

        @media (min-width: 1024px) {

          &-wrapper{
            justify-content: space-between;
          }

          &-slide{
            width: fit-content;
          }
        }
      }
    }

    &__item{
      width: 12.65rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem 0;

      @include mobile{
        width: 8rem;
        gap: .4rem 0;
      }

      &__image{
        width: 100%;
        height: 12.65rem;
        object-fit: cover;
        object-position: center;

        @include mobile{
          height: 8rem;
        }
      }

      &__title{
        font-family: Manrope;
        font-weight: 500;
        font-size: 1rem;
        line-height: 130%;
        color: #000000;

        @include tablet{
          font-size: .8rem;
        }
      }
    }
  }
}

.form{
  background-color: #3D4A36;
  border-radius: .8rem;
  overflow: hidden;

  &__inner{
    grid-column: 1 / 7;
    padding: 2.4rem 0 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem 0;

    @include tablet{
      grid-column: 1 / -1;
      padding: 2.4rem 3.05rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem 0;
    }

    @include mobile{
      padding: 1.2rem;
    }
  }

  .wpcf7-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem 0;
  }

  &__image{
    grid-column: 7 / -1;
    border-radius: .8rem;
    width: 33rem;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include tablet{
      display: none;
    }
  }

  &__map{
    grid-column: 7 / -1;
    height: calc(100% + 1px);
    border-radius: .8rem;
    overflow: hidden;

    @include tablet{
      display: none;
    }

    iframe{
      width: 100%;
      height: 100%;
    }
  }

  &__title{
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 130%;
    color: #FFFFFF;

    @include tablet{
      max-width: 90%;
      text-align: center;
      font-size: 1rem;
    }

    @include mobile{
      max-width: 100%;
      font-size: .8rem;
    }
  }

  &__list{
    display: flex;
    align-items: center;
    gap: 0 1rem;

    @include mobile{
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem 0;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: .4rem 0;
    flex: 1;

    @include mobile{
      width: 100%;
    }

    &__inner{
      position: relative;

      svg{
        position: absolute;
        top: 50%;
        right: .8rem;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
      }
    }

    &__title{
      font-family: Manrope;
      font-weight: 500;
      font-size: .8rem;
      line-height: 130%;
      color: #FFFFFF;

      @include mobile{
        font-size: .7rem;
      }
    }

    &__input{
      width: 100%;
      padding: .75rem .8rem;
      border: none;
      background-color: #FFFFFF;
      border-radius: 100px;
      font-family: Manrope;
      font-weight: 300;
      font-size: .7rem;
      line-height: 130%;
      color: #000000;

      &::placeholder {
        color: #BABABA;
        transition: .5s;
      }

      &.wpcf7-not-valid{

        &::placeholder {
          color: #9b0000;
        }
      }
    }

    .date{
      padding: .75rem .8rem;
      width: 100%;
      height: 2.4rem;
      border-radius: 100px;
      border: none;
      background-color: #FFFFFF;
      font-family: Manrope;
      font-weight: 500;
      font-size: .7rem;
      line-height: 130%;
      color: #000000;
    }

    .choices{

      &.is-open{

        .choices__inner{
          border-radius: 1.5rem 1.5rem 0 0;
        }
      }
    }

    .select-event, .choices__inner{
      padding: .75rem .8rem !important;
      width: 100%;
      height: 2.4rem;
      border-radius: 100px !important;
      border: none;
      background-color: #FFFFFF;
      font-family: Manrope;
      font-weight: 500;
      font-size: .7rem;
      line-height: 130%;

      .choices__list{
        padding: 0 !important;
      }
    }
  }

  &__check{
    display: flex;
    align-items: flex-start;
    gap: 0 .5rem;
    border: none;
    padding: 0;

    @include mobile{
      gap: 0 .4rem;
    }

    &.error{

      .form__check__title{
        color: #9b0000;
      }
    }

    &.active{

      .form__check__icon{

        path{
          opacity: 1;
        }
      }

    }

    &__icon{
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;

      path{
        opacity: 0;
        transition: .5s;
      }
    }

    &__title{
      max-width: 82%;
      font-family: Manrope;
      font-weight: 400;
      font-size: .7rem;
      line-height: 130%;
      color: #FFFFFF;
      text-align: left;

      @include mobile{
        max-width: 100%;
        font-size: .6rem;
      }
    }
  }

  &__button{
    padding: 0;
    width: 100%;
    height: 2.3rem;
    border-radius: 100px;
    border: none;
    background-color: #F07D2C;
    font-family: Manrope;
    font-weight: 500;
    font-size: .8rem;
    line-height: 100%;
    color: #FFFFFF;
    transition: .5s;

    @include mobile{
      height: 1.8rem;
      font-size: .7rem;
    }

    &:hover{
      opacity: .5;
    }
  }
}

[data-name="checkbox-356"]{
  display: none !important;
}

.invalid{

  .wpcf7-response-output{
    display: none !important;
  }

  .wpcf7-not-valid-tip{
    display: none !important;
  }
}

.product-block{
  background-color: #F07D2C;
  margin-top: 4.4rem;
  padding: 3.2rem 2.4rem 1.2rem 2.4rem;

  @include tablet{
    margin-top: 2.4rem;
    padding: 2.4rem 1.2rem;
  }

  @include mobile{
    padding: 1.2rem .8rem;
  }

  &__title{
    margin-bottom: 2.4rem;
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @include tablet{
      font-size: 1rem;
    }

    @include mobile{
      margin-bottom: 1.2rem;
    }
  }

  &__list{

    @include tablet{
      gap: 1.2rem 1.2rem;
    }

    @include mobile{
      gap: .4rem .4rem;
    }
  }
}

.product-item{
  grid-column: span 3;
  position: relative;
  border-radius: .8rem;
  background-color: #FFFFFF;
  overflow: hidden;

  @include tablet{
    grid-column: span 6;
  }

  @include mobile{
    grid-column: span 2;
  }

  &__tag{
    position: absolute;
    top: .8rem;
    right: .8rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .05rem .2rem .05rem .05rem;
    background-color: #F07D2C;
    border-radius: 100px;

    @include mobile{
      top: .4rem;
      right: .4rem;
    }

    &__icon{
      width: 1rem;
      height: 1rem;
    }

    &__title{
      font-family: Manrope;
      font-weight: 400;
      font-size: .6rem;
      line-height: 150%;
      color: #FFFFFF;
      text-transform: uppercase;

      @include mobile{
        font-size: .4rem;
      }
    }
  }

  &__image{
    width: 100%;
    height: 12.4rem;
    object-fit: cover;
    object-position: center;
    border-radius: .8rem;

    @include mobile{
      height: 8rem;
    }
  }

  &__content{
    padding: .8rem;

    @include mobile{
      padding: .4rem;
    }

    &__inner{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: .4rem;

      @include mobile{
        margin-bottom: .8rem;
      }
    }

    &__title{
      max-width: 10rem;
      font-family: Manrope;
      font-weight: 700;
      font-size: 1rem;
      line-height: 130%;
      color: #000000;

      @include mobile{
        font-size: .8rem;
      }
    }

    &__weight{
      font-family: Manrope;
      font-weight: 700;
      font-size: .8rem;
      line-height: 130%;
      color: #000000;

      @include mobile{
        display: none;
      }
    }

    &__description{
      margin-bottom: 1.2rem;
      font-family: Manrope;
      font-weight: 300;
      font-size: .8rem;
      line-height: 130%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile{
        display: none;
      }
    }

    &__price{
      margin-bottom: .8rem;
      font-family: Manrope;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 130%;
      color: #000000;

      @include mobile{
        margin-bottom: .4rem;
        font-size: 1rem;
      }
    }

    &__buttons{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: .2rem 0;

      &__inner{
        position: relative;
        width: 100%;
        height: 2.3rem;

        @include mobile{
          height: 1.8rem;
        }
      }

      &__add{
        position: relative;
        width: 100%;
        background-color: #3D4A36;
        font-family: Manrope;
        font-weight: 500;
        font-size: .8rem;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        border: none;
        height: 100%;
        padding: 0;
        border-radius: 100px;
        z-index: 2;
        transition: .5s;

        @include mobile{
          font-size: .7rem;
        }

        &:hover{
          background-color: #F07D2C;
        }

        &.active{
          opacity: 0;
          z-index: -9;
        }
      }

      &__wrapper{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: .2rem;
        background-color: #E8E8E8;
        border-radius: 100px;
        z-index: 1;
      }

      &__count-value{
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 100px;
        border: none;
        background-color: #FFFFFF;
        font-family: Manrope;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        text-align: center;
        color: #000000;
        transition: .5s;

        @include mobile{
          width: 1.4rem;
          height: 1.4rem;
        }

        &:hover{
          background-color: #3D4A36;
          color: #FFFFFF;
        }
      }

      &__count-number{
        font-family: Manrope;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #000000;
      }

      &__more{
        width: 100%;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E8E8E8;
        font-family: Manrope;
        font-weight: 500;
        font-size: .8rem;
        line-height: 100%;
        border-radius: 100px;
        color: #000000;
        transition: .5s;

        @include mobile{
          height: 1.8rem;
          font-size: .7rem;
        }

        &:hover{
          background-color: #3D4A36;
          color: #FFFFFF;
        }
      }
    }
  }
}

.all-bocks{
  padding: .6rem 1.2rem;
  font-family: Manrope;
  font-weight: 500;
  font-size: .8rem;
  line-height: 100%;
  text-align: center;
  background-color: #3D4A36;
  color: #FFFFFF;
  border-radius: 100px;
  transition: .5s;

  @include mobile{
    width: 100%;
    padding: .5rem 1.2rem;
    font-size: .7rem;
  }

  &:hover{
      background-color: #F07D2C;
  }

  &__inner{
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;

    @include mobile{
      margin: .8rem .8rem 0 .8rem;
    }
  }
}

.catering{

  &__title{
    margin-bottom: 2.4rem;
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    @include tablet{
      font-size: 1rem;
    }

    @include mobile{
      margin-bottom: 1.2rem;
    }

  }

  &__list{
    gap: 1.2rem 1.2rem;

    @include tablet{
      gap: .8rem .8rem;
    }
  }

  &__item{
    grid-column: span 4;
    position: relative;
    background-color: #EFEFEF;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include tablet{
      grid-column: span 6;
    }

    @include mobile{
      grid-column: 1 / -1;
    }

    &__image{
      width: 100%;
      height: 14rem;
      border-radius: .8rem;
      object-fit: cover;
      object-position: center;
      flex-shrink: 0;

      @include mobile{
        height: 8rem;
      }
    }

    &__content{
      padding: .8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.2rem 0;
      height: 100%;

      @include mobile{
        gap: 1.8rem 0;
      }

      &__title{
        margin-bottom: .4rem;
        font-family: Manrope;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 130%;
        color: #000000;

        @include tablet{
          font-size: .8rem;
        }
      }

      &__description{
        font-family: Manrope;
        font-weight: 300;
        font-size: .8rem;
        line-height: 130%;
        color: #000000;

        @include tablet{
          font-size: .7rem;
        }
      }

      &__button{
        width: 100%;
        border-radius: 100px;
        height: 2.3rem;
        padding: 0;
        border: none;
        background-color: #3D4A36;
        font-family: Manrope;
        font-weight: 500;
        font-size: .8rem;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        transition: .5s;

        @include mobile{
          height: 1.8rem;
          font-size: .7rem;
        }

        &:hover{
          background-color: #F07D2C;
        }
      }
    }
  }
}

.platforms{

  &__inner{
    display: flex;
    align-items: flex-start;
    gap: 0 4rem;

    @include mobile{
      margin-bottom: 1.2rem;
      align-items: flex-end;
      gap: 0;
    }

    .platforms__navigation{
      display: none;

      @include tablet{
        display: flex;
      }
    }
  }

  &__title{
    margin-bottom: 2.4rem;
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    @include tablet{
      font-size: 1rem;
      text-align: left;
    }

    @include mobile{
      margin-bottom: 0;
    }
  }

  &__list{
    gap: 1.2rem 1.2rem;

    .swiper{
      width: 100%;
      overflow: initial !important;

      &-wrapper{

        @media (min-width: 1024px) {
          display: grid !important;
          gap: 1.2rem 1.2rem;
        }

        @include tablet{
          gap: 0 !important;
        }
      }

      &-slide{

        @media (min-width: 1024px) {
          grid-column: span 4;
        }
      }
    }
  }

  &__item{
    grid-column: span 4;
    background-color: #EFEFEF;
    border-radius: .8rem;
    overflow: hidden;

    &__image{
      width: 100%;
      height: 15rem;
      border-radius: .8rem;
      object-fit: cover;
      object-position: center;

      @include mobile{
        height: 14.75rem;
      }
    }

    &__information{
      padding: .8rem;

      &__title{
        margin-bottom: .8rem;
        font-family: Manrope;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 130%;

        @include tablet{
          font-size: 1rem;
        }
      }

      &__inner{
        display: flex;
        align-items: center;
        gap: .4rem .4rem;
        flex-wrap: wrap;
      }

      &__paragraph{
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 0 .2rem;
        padding: .05rem .4rem .05rem .05rem;
        border-radius: 100px;

        &__icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
          background-color: #3D4A36;
          flex-shrink: 0;

          svg{
            width: .55rem;
            height: .55rem;
          }
        }

        &__title{
          font-family: Manrope;
          font-weight: 400;
          font-size: .6rem;
          line-height: 150%;
          color: #000000;
        }
      }

      &__more{
        margin-top: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2.3rem;
        background-color: #3D4A36;
        font-family: Manrope;
        font-weight: 500;
        font-size: .8rem;
        line-height: 100%;
        border-radius: 100px;
        color: #FFFFFF;
        border: none;
        padding: 0;
        transition: .5s;

        @include mobile{
          margin-top: 1.5rem;
          height: 1.8rem;
          font-size: .7rem;
        }

        &:hover{
          background-color: #F07D2C;
        }
      }
    }
  }
}

.reviews{

  &__title{
    font-family: Anticva;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

    @include tablet{
      font-size: 1rem;
    }

    @include mobile{
      text-align: left;
    }
  }

  &__rating{
    width: 12.55rem;
    height: 2.2rem;
    object-position: center;

    @include tablet{
      width: 9.05rem;
      height: 1.65rem;
    }

    @include mobile{
      width: 9.85rem;
      height: 1.8rem;
    }

    &__inner{
      margin: .4rem 0 .8rem 0;
      display: flex;
      justify-content: center;

      @include mobile{
        justify-content: left;
      }
    }
  }

  &__all{
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;

    @include mobile{
      margin-bottom: 1.4rem;
      justify-content: left;
    }

    a{
      padding: 0 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      height: 2.3rem;
      font-family: Manrope;
      font-weight: 500;
      font-size: .8rem;
      line-height: 100%;
      background-color: #F07D2C;
      color: #FFFFFF;
      transition: .5s;

      @include tablet{
        height: 1.7rem;
      }

      @include mobile{
        width: 100%;
        height: 1.8rem;
        font-size: .7rem;
      }

      &:hover{
        background-color: #3D4A36;
        color: #FFFFFF;
      }
    }
  }

  &__gallery{
    position: relative;

    .swiper{

      @include tablet{
        overflow: initial;
      }
    }

    &__navigation{
      position: absolute;
      top: calc(-2.4rem - 2.3rem);
      right: 0;

      @include mobile{
        top: -5.7rem;
      }
    }

    &__item{
      width: 15.9rem;
      height: 29.4rem;
      object-fit: cover;
      object-position: center;
      border-radius: .8rem;
      line-height: 0;

      @include mobile{
        width: 100%;
        height: 25.4rem;
      }
    }
  }
}

.navigation{
  display: flex;
  align-items: center;
  gap: 0 1.2rem;

  @include tablet{
    gap: 0 .8rem;
  }
}

.navigation__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
  background-color: #596051;
  border: none;
  padding: 0;
  transition: .5s;

  @include mobile{
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover{
    background-color: #F07D2C;
  }

  svg{
    width: .45rem;
    height: .8rem;

    @include mobile{
      width: .3rem;
      height: .5rem;
    }
  }
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 99999999999;

  &.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -9;
  }

  &__exit{
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3.8rem;
    height: 3.8rem;
    border: none;
    padding: 0;
    transition: .5s;

    &:hover{

      svg{

        circle{
          fill: #3D4A36;
        }
      }
    }

    svg{
      width: 100%;
      height: 100%;

      circle{
        transition: .5s;
      }
    }
  }

  &__content{
    margin-top: 6.4rem;
    padding: 1.75rem 2.4rem 3.2rem 2.4rem;
    border-radius: .8rem;
    background-color: #F6F6F6;
    width: 33rem;

    &__title{
      font-family: Manrope;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 100%;
      text-align: center;
      color: #000000;
    }

    &__hr{
      width: 15.2rem;
      height: 1px;
      background-color: #D1D7CE;
      border: none;

      &__inner{
        display: flex;
        justify-content: center;
      }
    }
  }
}
