.single-product{

  .product{

    &__information{

      &__gallery{
        grid-column: 1 / 8;
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0 1.2rem;
        height: 27.3rem;

        @include tablet{
          grid-column: 1 / -1;
        }

        @include mobile{
          height: initial;
          gap: .4rem 1.2rem;
        }

        &__thumbs{
          grid-column: 1 / 3;
          display: flex;
          flex-direction: column;
          gap: .55rem 0;
          align-items: center;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 2 / 2;
            display: block;
          }

          .navigation__button{

            @include mobile{
              position: absolute;
              top: calc(50% - 3.8rem);
              transform: translateY(-50%);
              z-index: 99;

              &._prev{
                left: .2rem;
                transform: rotate(0) !important;
              }

              &._next{
                right: .2rem;
                transform: rotate(180deg) !important;
              }
            }
          }

          &__inner{

            .swiper{
              height: 21.6rem;

              @include mobile{
                height: 3.8rem;
              }
            }
          }

          &__image{
            width: 100%;
            height: 10.2rem;
            object-fit: cover;
            object-position: center;
            border: 1px solid #D1D7CE;
            border-radius: .8rem;
            box-sizing: border-box;

            @include mobile{
              height: 100%;
            }
          }
        }

        &__main{
          grid-column: 3 / -1;
          display: flex;
          align-items: center;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 1 / 1;
            height: 16.4rem;
          }

          .swiper{
            height: 100%;
          }

          &__image{
            width: 100%;
            height: 27.3rem;
            object-fit: cover;
            object-position: center;
            border: 1px solid #D1D7CE;
            border-radius: .8rem;
            box-sizing: border-box;

            @include mobile{
              height: 100%;
            }
          }
        }

      }

      &__inner{
        grid-column: 8 / -1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet{
          grid-column: 1 / -1;
          margin-top: 2.7rem;
          gap: 2.4rem 0;
        }

        @include mobile{
          margin-top: .8rem;
        }
      }

      &__content{

        @include mobile{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }

        .product-item__content__buttons__inner{
          width: 14.3rem;

          @include tablet{
            width: 16rem;
          }

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 5 / 5;
            width: 100%;
          }
        }

        &__title{
          margin-bottom: .4rem;
          font-family: Anticva;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 100%;
          color: #000000;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 1 / 1;
            font-size: 1rem;
          }
        }

        &__weight{
          margin-bottom: .8rem;
          font-family: Manrope;
          font-weight: 400;
          font-size: .8rem;
          line-height: 130%;
          color: #3D4A36;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 4 / 4;
            margin-top: .4rem;
            font-size: .5rem;
          }

          span{
            font-weight: 600;
          }
        }

        &__description{
          margin-bottom: 1.2rem;
          font-family: Manrope;
          font-weight: 400;
          font-size: .8rem;
          line-height: 130%;
          color: #000000;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 6 / 6;
            margin-top: .8rem;
            margin-bottom: 0;
          }
        }

        &__price{

          &__inner{
            padding-bottom: .4rem;
            margin-top: 2.4rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid #D1D7CE;

            @include mobile{
              grid-column: 1 / -1;
              grid-row: 2 / 2;
              margin-top: 0;
              margin-bottom: 0;
            }
          }

          &__title{
            font-family: Manrope;
            font-weight: 400;
            font-size: .8rem;
            line-height: 130%;
            color: #3D4A36;
          }

          &__number{
            font-family: Manrope;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 130%;
            color: #3D4A36;

            @include mobile{
              font-size: 1rem;
            }
          }
        }

        &__min{
          margin-top: .4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include mobile{
            grid-column: 1 / -1;
            grid-row: 3 / 3;
          }

          &__title{
            font-family: Manrope;
            font-weight: 400;
            font-size: .7rem;
            line-height: 130%;
            color: #3D4A36;
          }

          &__value{
            font-family: Manrope;
            font-weight: 400;
            font-size: .7rem;
            line-height: 130%;
            color: #3D4A36;
          }
        }
      }

      &__contacts{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile{
          display: none;
        }

        &__description{
          max-width: 15rem;
          font-family: Manrope;
          font-weight: 400;
          font-size: .8rem;
          line-height: 130%;
          color: #3D4A36;

          a{
            font-weight: 600;
            text-decoration: underline;
            transition: .5s;

            &:hover{
              opacity: .5;
            }
          }
        }

        &__social{
          display: flex;
          align-items: center;
          gap: 0 .8rem;

          &__item{
            width: 2rem;
            height: 2rem;
            transition: .5s;

            &:hover{
              opacity: .5;
            }

            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .tabs{
    gap: 0;

    &__item{
      cursor: pointer;
      grid-column: span 6;
      text-align: center;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid #D1D7CE;
      font-family: Manrope;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 130%;
      transition: .5s;

      &.active{
        border-bottom: 1px solid #3D4A36;
      }
    }

    &__content{
      grid-column: 1 / -1;
      margin-top: 1.2rem;
      display: none;

      &.active{
        display: block;
      }

      &__delivery{
        font-family: Manrope;
        font-weight: 400;
        font-size: .8rem;
        line-height: 130%;

        a{
          text-decoration: underline;
          transition: .5s;

          &:hover{
            opacity: .5;
          }
        }
      }

      &__questions{
        display: flex;
        flex-direction: column;
        gap: 1.2rem 0;

        &__item{
          display: flex;
          flex-direction: column;
          gap: .8rem 0;

          &__title{
            font-family: Manrope;
            font-weight: 600;
            font-size: 1rem;
            line-height: 150%;
            color: #000000;
          }

          &__description{
            font-family: Manrope;
            font-weight: 400;
            font-size: .8rem;
            line-height: 150%;
            color: #000000;
          }
        }
      }
    }
  }
}
